<h1>Welcome to the application</h1>
<h3>This app has been integrated with login and signup module </h3>

<button (click)="onLoginClick()">Login</button>
<button (click)="onSignupClick()">SignUp</button>
